{% extends "base.html" %}
{% block title %}INDEX {% endblock title %}
{% block content %}

<div class="row mt-4">
	<div class="col">
		<h2>Add Item</h2>
    <form action="{% url 'app1:add_todo' %}" method="post" class="form-inline">
        {% csrf_token %}
		  <input type="text" id="text" name="text" class="form-control mb-2 mr-sm-2" placeholder="type here...">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>
  <div class="row mt-4">
    <div class="col">
      <ul class="list-group">
          {% for p1 in todo_item %}
          <li class="list-group-item">{{p1.text}}
            {{p1.added_text}}</li>  
          </ul>
          </div>
          </div>
            <a href="/delete/{{p1.id}}"><button type="submit" class="btn btn-sm btn-danger">Delete</button> </a>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
</div>
<div>

{% endblock content %}